.main-doctor-status{
    width: 100%;
    display: flex;
}

.departments-main {
  flex: 1;
  padding: 40px;
  background-color: white;
  margin-top: 60px;
}

.departments-main h2 {
  margin-bottom: 20px;
}

.doctor-table {
  width: 100%;
  border-collapse: collapse;
}

.doctor-table th,
.doctor-table td {
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.doctor-row {
  background-color: #e6f2e6;
}

.status-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
}






